@import "_variables";
@import "_mixin";

body {
    margin: 0;
    font-family: $tipografia;
    background-image: url(../assets/pawel-czerwinski-4B3m1zRofV8-unsplash.jpg);
    overflow-x: hidden;
  }
  
  header {
    @include flex-center(column, center, center);
    padding: 20px 0;
  }
  
  .logoContainer img {
    max-width: 100%;
    height: 300px;
    text-align: center;
  }
  
  .menu {
    margin: 30px;
    @include flex-center(row, center, center);
  }
  
  .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    @include flex-center(row, center, center);
  }
  
  .menu li {
    padding: 15px 20px;
    color: white;
  }
  
  .menu a {
    text-decoration: none;
    color: #000;
    @include responsive-font(20px, 26px);
  }

  .navbar {
    display: none; 
}


@media (max-width: 992px) {
    
    .menu {
        display: none; 
    }

    
    .navbar {
      display: flex; 
  }

  
  .navbar-toggler {
      margin-left: 0; 
  }

  .navbar-collapse {
      justify-content: flex-start; 
  }
}
  
  h1 {
    text-align: center;
    font-weight: 500;
    @include responsive-font(22px, 32px);
  }
  
  h2 {
    text-align: center;
  }
  
  .content-section {
    @include flex-center(row, space-between, center);
    padding: 20px;
    box-sizing: border-box;
  }
  
  .text-boton {
    flex: 1;
    margin-right: 20px;
    text-align: center;
  }
  
  .text-boton p {
    @include responsive-font(20px, 24px);
    margin-bottom: 10px;
  }
  
  .text-boton input {
    padding: 10px 20px;
    @include responsive-font(16px, 18px);
    cursor: pointer;
    border: none;
    background-color: $colortexto;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .text-boton input:hover {
    background-color: #ccc;
  }
  
  .imagen-grid {
    @include flex-center(row, space-between, center);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    flex: 1;
    box-shadow: 0px 0px 10px black;
  }
  
  .imagen-grid img {
    width: 100%;
    height: 500px;
    border-radius: 5px;
  }

  .comments-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;

    .comments-container {
        width: 100%;
        display: flex;
        flex-direction: row;

        iframe, 
        .comments-box {
            width: 50%;
            height: 300px;
        }

        iframe {
            border: none;
        }

        .comments-box {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                margin-bottom: 10px;
                text-align: center;
            }

            textarea {
                width: 100%;
                height: 100%;
                margin-bottom: 10px;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-sizing: border-box;
                resize: none;
            }

            button {
                width: 100%; 
                padding: 10px;
                border: none;
                border-radius: 5px;
                background-color: #0a3622;
                color: white;
                cursor: pointer;
                margin-top: 10px;
            }
        }
    }
}

//Media queries para index
@media (min-width: 993px) {
  .menu {
      display: flex;
      justify-content: center;
  }

  .navbar {
      display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .menu {
      display: none;
  }

  .navbar {
      display: block;
  }
}

@media (max-width: 767px) {
  .menu {
      display: none;
  }

  .navbar {
      display: block;
  }
}

.content-section {
  padding: 20px;
}

.imagen-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.imagen-grid img {
  width: 100%;
  height: auto;
  display: block;
}

.imagen-grid-dos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.imagen-grid-dos img {
  width: 100%;
  height: auto;
  display: block;
}

.contenedor-desayuno {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen-desayuno-i img {
  width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .content-section {
      padding: 10px;
  }

  .imagen-grid {
      grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .content-section {
      padding: 5px;
  }

  .imagen-grid-dos {
      grid-template-columns: 1fr;
  }

  .contenedor-desayuno {
      flex-direction: column;
      text-align: center;
  }
}

@media (max-width: 576px) {
  .text-boton input[type="button"] {
      width: 100%;
      padding: 10px;
  }

  .footer-container {
      flex-direction: column;
      text-align: center;
  }
}

  
  // Sección de catering
  .imagen-grid-dos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    flex: 1;
  }
  
  .imagen-grid-dos img {
    width: 100%;
    height: 500px;
    border-radius: 5px;
  }
  
  .contenedor-desayuno {
    @include flex-center(row, space-between, center);
    padding: 20px;
    box-sizing: border-box;
  }
  
  .contenedor-desayuno .text-boton {
    flex: 1;
    max-width: 50%;
    text-align: left;
  }
  
  .contenedor-desayuno .text-boton h2 {
    margin-bottom: 10px;
    @include responsive-font(24px, 32px);
  }
  
  .contenedor-desayuno .text-boton p {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .contenedor-desayuno .text-boton a {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  
  .contenedor-desayuno .text-boton input {
    padding: 10px 20px;
    @include responsive-font(16px, 18px);
    cursor: pointer;
    border: none;
    background-color: $colortexto;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .contenedor-desayuno .text-boton input:hover {
    background-color: #ccc;
  }
  
  .contenedor-desayuno .imagen-desayuno-i {
    flex: 1;
    max-width: 50%;
  }
  
  .contenedor-desayuno .imagen-desayuno-i img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  //Media queries de catering

  @media (min-width: 993px) {
    .menu {
        display: flex;
        justify-content: center;
    }

    .navbar {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .menu {
        display: none;
    }

    .navbar {
        display: block;
    }
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }

    .navbar {
        display: block;
    }
}

.container-catering {
    padding: 20px;
}

.containerimg-c {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.containerimg-c img {
    width: 100%;
    height: auto;
    display: block;
}

.texto-catering {
    padding: 10px;
    text-align: center;
}

@media (max-width: 992px) {
    .container-catering {
        padding: 10px;
    }

    .containerimg-c {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .container-catering {
        padding: 5px;
    }

    .containerimg-c {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 576px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}
  
  // Desayunos y meriendas
  .main-desayuno {
    padding: 20px;
  
    .sectiondesayuno {
      @include flex-center(row, space-between, center);
      padding: 20px;
      box-sizing: border-box;
      margin-bottom: 20px;
  
      & > div {
        flex: 1;
        margin-right: 20px;
  
        img {
          width: 100%;
          height: auto;
          border-radius: 5px;
        }
      }
  
      p {
        flex: 2;
        @include responsive-font(20px, 24px);
        margin: 0;
      }
    }
  }

  //Media queries desayunos y meriendas
  @media (min-width: 993px) {
    .menu {
        display: flex;
        justify-content: center;
    }

    .navbar {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .menu {
        display: none;
    }

    .navbar {
        display: block;
    }
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }

    .navbar {
        display: block;
    }
}

.main-desayuno {
    padding: 20px;
}

.sectiondesayuno {
    margin-bottom: 20px;
    text-align: center;
}

.sectiondesayuno img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 992px) {
    .main-desayuno {
        padding: 15px;
    }

    .sectiondesayuno {
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .main-desayuno {
        padding: 10px;
    }

    .sectiondesayuno {
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}
  
  
  // Catering
  .container-catering {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .catering-content {
        display: flex;
        align-items: flex-start;
        width: 100%;

        .containerimg-c {
            display: flex;
            img {
                width: 300px;
                height: auto;
                margin-right: 10px;
            }
        }

        .texto-catering {
            flex: 1;
            text-align: center;
            font-size: 25px;
        }
    }
}

  
  // Media queries catering
  
  
  // Contacto
  .container-contacto {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.contact-form-section {
    margin-bottom: 20px;
}

.contact-form-section h2 {
    margin-bottom: 20px;
    @include responsive-font(24px, 32px);
}

.contact-form {
    @include flex-center(column, center, flex-start);
    max-width: 600px;
    margin: 0 auto;
}

.contact-form label {
    @include responsive-font(16px, 18px);
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

.whatsapp-link {
    color: #25D366;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    &:hover {
        text-decoration: underline; 
    }
}

.container-iframe {
    margin: 20px 0;

    iframe {
        width: 50%;
        height: 300px;
        border: none;
    }
}

//Media queries contacto
@media (min-width: 993px) {
  .menu {
      display: flex;
      justify-content: center;
  }

  .navbar {
      display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .menu {
      display: none;
  }

  .navbar {
      display: block;
  }
}

@media (max-width: 767px) {
  .menu {
      display: none;
  }

  .navbar {
      display: block;
  }
}

.container-contacto {
  padding: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.contact-form label {
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.contact-form button {
  padding: 10px;
  background-color: #eee;
  color: $colortexto;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #ccc;
}

.texto-contacto {
  margin: 20px 0;
}

.whatsapp-link {
  color: #25d366;
  text-decoration: none;
}

.whatsapp-link:hover {
  text-decoration: underline;
}

.container-iframe {
  margin: 20px 0;
}

iframe {
  width: 100%;
  height: 300px;
  border: none;
}

@media (max-width: 992px) {
  .container-contacto {
      padding: 15px;
  }
}

@media (max-width: 768px) {
  .container-contacto {
      padding: 10px;
  }
}

@media (max-width: 576px) {
  .footer-container {
      flex-direction: column;
      text-align: center;
  }
}

//footer

  .footer-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 10px; 

.footer-logo {
    margin-bottom: 5px;
    text-align: center; 
    img {
        max-width: 100px; 
        height: auto; 
    }
}

.footer-contact {
    text-align: center; 
    p {
        margin: 2px 0; 
        a {
            color: #25D366; 
            text-decoration: none; 
            &:hover {
                text-decoration: underline; 
            }
        }
    }
}
}

//Media queries footer